.header {
  background-color: rgba(15, 82, 186, 1);
  position: fixed;
  width: 100%;
  z-index: 1;
}

.header > div {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
}
